
table{
    width: 100%;
    border-collapse: collapse;
    align-items: center;
}
th, td {
    border: 1px solid black;
    min-width: 90px;
    max-width: 90px;
}
th, td {
    padding: 8px;
}

.td-status{
    display: flex;
    justify-content: space-around;
}

i{
    cursor: pointer;
}

.bi-house-fill{
    font-size: 24px;
    color: var(--color-text);
}

footer{
    position: absolute;
    bottom: 90px;
}

@media screen and (max-width: 768px) {
  footer{
    position: absolute;
    bottom: 110px;
    }
}